{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block body %}
        <dl>
            <dt>Email:</dt>
            <dd>{{ email }}</dd>
            <dt>Username:</dt>
            <dd>{{ username  }}</dd>
        </dl>
    {% endblock %}
</div>
</body>
</html>
